server {
  listen 80;
  server_name example.com;

  # 若HTTPS，但是使用certbot管理更方便
  # return 301 https://$host$request_uri;

  client_max_body_size 110m;

  proxy_set_header Host $host;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header X-Forwarded-Proto $scheme;

  location ^~ /api/ {
    proxy_pass http://127.0.0.1:8000;
  }

  location ^~ /i/ {
    proxy_pass http://127.0.0.1:8000;
  }

  location = /health {
    proxy_pass http://127.0.0.1:8000;
  }

  location / {
    proxy_pass http://127.0.0.1:5423;
  }
}

